/**
Global
 */
body,
html {
    height: 100%
}

body {
    padding-top: 50px;
    background-color: #212432;
}

/**
 Front Page
 */
#particles-js canvas {
    display: block;
    background: rgb(33, 36, 50);
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
}

.jumbotron {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar-brand {
    padding-top: 5px;
}

.site-wrapper {
    display: table;
    width: 100%;
    position: relative;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.cover {
    padding: 0 20px;
}

/**
Footer
 */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #f5f5f5;
}

footer > nav {
    position: relative;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}