body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #333;
}

canvas {
    display:block;
    background: rgb(33,36,50);
    position: fixed;
    z-index: -1;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar-brand {
    padding-top: 5px;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.inner {
    padding: 30px;
}

.cover {
    padding: 0 20px;
}
